################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Entendendo-Algoritmos/FileContentIndex/97ecffcc-4c12-448c-80a9-c1786c79df78.vsidx
/.vs/Entendendo-Algoritmos/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/src/UnderstandingAlgorithms/BinarySearch/obj
/src/UnderstandingAlgorithms/BinarySearch/obj/BinarySearch.csproj.nuget.dgspec.json
/src/UnderstandingAlgorithms/BinarySearch/obj/BinarySearch.csproj.nuget.g.props
/src/UnderstandingAlgorithms/BinarySearch/obj/BinarySearch.csproj.nuget.g.targets
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/BinarySearch.AssemblyInfo.cs
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/BinarySearch.AssemblyInfoInputs.cache
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/BinarySearch.assets.cache
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/BinarySearch.GeneratedMSBuildEditorConfig.editorconfig
/src/UnderstandingAlgorithms/BinarySearch/obj/Debug/net7.0/BinarySearch.GlobalUsings.g.cs
/src/UnderstandingAlgorithms/BinarySearch/obj/project.assets.json
/src/UnderstandingAlgorithms/BinarySearch/obj/project.nuget.cache
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/BinarySearch.AssemblyInfo.cs
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/BinarySearch.AssemblyInfoInputs.cache
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/BinarySearch.assets.cache
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/BinarySearch.GeneratedMSBuildEditorConfig.editorconfig
/src/.vs/UnderstandingAlgorithms/v17/.suo
/src/UnderstandingAlgorithms/BinarySearch/obj/Release/net7.0/BinarySearch.GlobalUsings.g.cs
/src/.vs
/src/UnderstandingAlgorithms/BinarySearch/bin/Debug/net7.0
/src/UnderstandingAlgorithms/BinarySearch/bin/Debug/net7.0/BinarySearch.deps.json
